<button class="modal-close"
        type="button"
        title="{{lang 'common.close'}}"
        {{additional_attr}}
>
    <span class="aria-description--hidden">{{lang 'common.close'}}</span>
    <!-- <span aria-hidden="true">&#215;</span> -->
    <svg width="100%" height="100%" viewBox="0 0 185 185" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
        <g transform="matrix(1,0,0,1,-20280,-3883.98)">
            <g transform="matrix(8.33333,0,0,8.33333,0,0)">
                <g transform="matrix(0.707107,-0.707107,-0.707107,-0.707107,2444.7,489.316)">
                    <path d="M-3.556,8.585L20.726,8.585" style="fill:none;fill-rule:nonzero;stroke:rgb(136,130,136);stroke-width:0.5px;"/>
                </g>
                <g transform="matrix(-0.707107,-0.707107,-0.707107,0.707107,2444.7,465.033)">
                    <path d="M-20.726,8.585L3.556,8.585" style="fill:none;fill-rule:nonzero;stroke:rgb(136,130,136);stroke-width:0.5px;"/>
                </g>
            </g>
        </g>
    </svg>
</button>
