<div class="single-post">
    {{#if post.thumbnail}}
        <figure class="blog-thumbnail">
            <a href="{{post.url}}">
                {{> components/common/responsive-img
                    image=post.thumbnail
                    fallback_size=theme_settings.blog_size
                    lazyload=theme_settings.lazyload_mode
                }}
            </a>
        </figure>
    {{/if}}
    <div class="blog-content">
        <h1><a href="{{post.url}}">{{post.title}}</a></h1>
        <p>
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{{post.summary}}}
            {{/if}}
        </p>
        {{#if post.tags}}
            <ul class="blog-tag flex-row">
                {{#each post.tags}}
                <li class="tag">
                    <a href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        {{/if}}

        {{>components/common/share url=post.url}}
    </div>
</div>