<!-- <h3 class="footer-info-heading">{{lang 'newsletter.subscribe'}}</h3> 
<p>{{lang 'newsletter.subscribe_intro'}}</p> -->
<h3>Keep up with the latest Optaderm product launches, skincare tips, exclusive offers, and more.</h3>

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="Email Address"
                       aria-describedby="alertBox-message-text"
                       aria-required="true"
                       autocomplete="email"
                       required
                >
                <input class="button button--primary form-prefixPostfix-button--postfix"
                       type="submit"
                       value="Sign me up"
                >
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
        
        <!-- Terms input section -->
        <div class="form-field">
            <label for="terms-checkbox" class="form-label">
                <input type="checkbox" id="terms-checkbox" name="terms" required>
                I have read and agree to the <a href="/terms-of-service" target="_blank">terms of service</a> and <a href="/privacy-policy" target="_blank">privacy policy</a>, and agree to receive emails.
            </label>
        </div>
    </fieldset>
</form>