---
blog:
    posts:
        limit: 6
        pages: 3
        summary: 200
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{pagination.blog.previous}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{pagination.blog.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<main class="page">
    <div class="blog-sec1 text-center">
        <div class="container">
            <h1>Skin Deep</h1>
            <p class="subheadline">The science of skincare is truth.</p>
            <p>Professional skincare advice based on facts not fads,
In-depth ingredient analysis and personalized routines for every skin type
Stay informed with science-based tips for healthier-looking, radiant skin.
</p>
        </div>
    </div>

    <div class="blog-sec2">
        <div id="list-page"></div>
        <div class="container text-center">
            <a href="/blog" class="blog-view-all">View All Blogs</a>
            <ul class="blog-tag-list flex-row">
                <li><a href="/blog/tag/Acne">Acne</a></li>
                <li><a href="/blog/tag/adult-acne">Adult Acne</a></li>
                <li><a href="/blog/tag/aging-skin">Aging Skin</a></li>
                <li><a href="#">More...</a></li>
            </ul>
        </div>
    </div>

    <div class="blog-sec3">
        <div class="content">
            <div class="flex-row col-3">
                {{#each blog.posts}}
                    {{> components/blog/post post=this theme_settings=../theme_settings}}
                {{/each}}
            </div>
        </div>
        <div class="container">
            {{> components/common/paginator pagination.blog}}
        </div>
    </div>
</main>

{{/partial}}
{{> layout/base}}
