---
category:
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
products:
    featured:
        limit: 3  
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->
<div class="page">
    <!-- {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if theme_settings.shop_by_price_visibility}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{/if}} -->

    <div class="category-header">
        {{#if category.image}}
            {{> components/common/responsive-img
                image=category.image
                fallback_size=theme_settings.zoom_size
                lazyload=theme_settings.lazyload_mode
                class="category-header-image"
            }}
        {{else}}
            {{> components/common/responsive-img
                image="https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/mixed-race-woman-applying-face-cream-68111.jpg?t=1730808466"
                fallback_size=theme_settings.zoom_size
                lazyload=theme_settings.lazyload_mode
                class="category-header-image"
            }}
        {{/if}}
        <div class="container">
            <div class="content">
                {{#unless theme_settings.hide_category_page_heading }}
                {{#if category.name '===' "Aging"}}
                    <h1 class="page-heading">Aging Skincare</h1>
                {{else}}
                    <h1 class="page-heading">{{category.name}}</h1>
                {{/if}}
                    {{{region name="category_below_header"}}}
                {{/unless}}
                {{{category.description}}}
            </div>
        </div>
    </div>

    <div class="category-featured-content">
        {{#unless category.name '===' "Lip Moisturizers"}}
        {{#unless category.name '===' "Eye Moisturizers"}}
          {{#unless category.name '===' "Masks"}}
            {{#unless category.name '===' "Body Care"}}
              {{#unless category.name '===' "Hair Care"}}
                {{#unless category.name '===' "Glycolic Acid"}}
                  {{#unless category.name '===' "Hyaluronic Acid"}}
                    {{#unless category.name '===' "Niacinamide"}}
                      {{#unless category.name '===' "Peptides"}}
                        {{#unless category.name '===' "Retinol"}}
                          {{#unless category.name '===' "Salicylic Acid"}}
                            {{#unless category.name '===' "Aging"}}
                                {{#unless category.name '===' "Toners"}}
                                  {{#unless category.name '===' "Blemishes + Acne"}}
                                  {{#unless category.name '===' "Moisturizers"}}
                                  {{#unless category.name '===' "Exfoliants"}}
                                  {{#unless category.name '===' "Dehydration"}}
                                    {{#unless category.name '===' "Legacy"}}
                                    {{#unless category.name '===' "Body"}}
                                    {{#unless category.name '===' "Phenomena Treatment Moisturizers"}}
                                    {{#unless category.name '===' "Shop All"}}
                                    {{#unless category.name '===' "While Supplies Last"}}
        <div class="top-content-header light text-center">
            {{#if category.name '===' "Shop All"}}
                <p>Shop Featured Products</p>
            {{else if category.name '===' "While Supplies Last"}}
                <p>Featured Original Products</p>
            {{else if category.name '===' "Bestsellers"}}
                <p>Featured Bestsellers</p>
            {{else if category.name '===' "New Formulations"}}
                <p>Featured New Formulations</p>
            {{else}}
                <p>Featured {{category.name}} Products</p>
            {{/if}}
        </div>
        {{> components/category/featured-product-listing }}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/unless}}
       {{/unless}}
         {{/unless}}
       {{/unless}}
     {{/unless}}
   {{/unless}}
 {{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
    </div>

    <div class="category-name">
        <div class="top-content-header light text-center">
            <div id="list-page"></div>
            {{#if category.name '===' "Shop All"}}
                <p>{{category.name}} PRODUCTS</p>
            {{else if category.name '===' "While Supplies Last"}}
            <p>Original Products While Supplies Last</p>
            {{else if category.name '===' "Aging"}}
            <p>All Aging Products</p>
            {{else if category.name '===' "Dehydration"}}
            <p>All Dehydration Products</p>
            {{else if category.name '===' "Blemishes + Acne"}}
            <p>All Blemishes + Acne Products</p>
            {{else if category.name '===' "Hyperpigmentation"}}
            <p>All Hyperpigmentation Products</p>
            {{else}}
                   <p>ALL {{category.name}}</p>
                  {{/if}}
        </div>
    </div>

    <div class="category-products-content" id="product-listing-container">
        {{> components/category/product-listing}}
    </div>

    <!-- <div class="page-region">
        {{{region name="category_below_content"}}}
    </div> -->

    {{> components/custom/page/featured-blogs}}  
</div>

{{/partial}}
{{> layout/base}}
