{{#partial "page"}}

<div class="contact-sec1">
    <div class="container">
        <div class="top-section text-center">
            <h1>CONTACT US</h1>
            <p>We're here to answer your questions, concerns, and skincare needs.</p>
        </div>
        <hr>
        <div class="content flex-row">
            <div class="w-40">
                <div class="info">
                    <p>CUSTOMER SUPPORT</p>
                    <a href="mailto:support@optaderm.com">support@optaderm.com</a>
                </div>
                <div class="info">
                    <p>SALES</p>
                    <a href="mailto:sales@optaderm.com">sales@optaderm.com</a>
                </div>
                <div class="info">
                    <p>SKINCARE GUIDANCE</p>
                    <a href="mailto:support@optaderm.com">support@optaderm.com</a>
                </div>
                <!--<div class="info">-->
                <!--    <p>AFFILIATES</p>-->
                <!--    <a href="mailto:support@optaderm.com">support@optaderm.com</a>-->
                <!--</div>-->
                <div class="info">
                    <a href="https://maps.app.goo.gl/fok2n88dUE5BGDT96">CLINIC LOCATION + HOURS</a>
                </div>
                <div class="info flex-row align-center">
                    <img src="https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/phone-icon.png?t=1729237054" alt="Phone">
                    <a href="tel:1-800-711-2026">1-800-711-2026</a>
                </div>
            </div>
            <div class="w-60">
                <div class="contact-form">
                    {{#if forms.contact.success}}
                        <div id="contact-us-success">{{{lang 'forms.contact_us.successful'}}}</div>
                    {{else}}
                        {{> components/page/contact-us-form}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/partial}}

{{> layout/base}}
