<header class="header" role="banner">
    <div class="header-top">
        <div class="flex-row">
            <div class="w-30">
    
            </div>
    
            <div class="w-30 logo">
                <img src="{{cdn 'img/OPTADERM_Logo_White.webp'}}" width="300" height="46" alt="{{settings.store_name}} Logo"/>
            </div>
    
            <div class="w-30">
                
            </div>
        </div>
    </div>
    <hr>
    <div class="header-bottom">
        {{> components/common/navigation-menu}}
    </div>
</header>