<div id="form_place_order_message" class="form-message"></div>
<form id="form_place_order" class="form-place-order">

	<div class="form-field">
		<input type="text" name="firstName" id="contact_fname" class="form-input-field" placeholder="First Name" aria-label="Enter your first name" required />
	</div>
	<div class="form-field">
		<input type="text" name="lastName" id="contact_lname" class="form-input-field" placeholder="Last Name" aria-label="Enter your last name" required />
	</div>
	<div class="form-field">
		<input type="tel" name="phoneNumber" id="contact_phone" class="form-input-field" placeholder="Phone Number" aria-label="Enter your phone number" required />
	</div>
	<div class="form-field">
		<input type="email" name="email" id="contact_email" class="form-input-field" placeholder="Email" aria-label="Enter your email address" required />
	</div>

	<br>

	<div class="form-field">
		<label for="product_description"><span class="fw-semibold">Desired Products to purchase</span><br> 
		Simply type in the name and size of the products you’d like to order. A team member will call back to confirm and place your order personally</label><br>
		<input type="text" name="description" id="product_description" class="form-input-field" placeholder="Product Description" required />
	</div>

	<br>

	<div class="form-field">
		<label><span class="fw-semibold">Best time to call you back</span></label><br>
		<div class="form-radio-field-group">
			<label><input type="radio" name="callTime" class="form-radio-field" value="nextDay" required /> <span>Next business day</span></label><br>
			<label><input type="radio" name="callTime" class="form-radio-field" value="weekday" required /><span> Anytime during office hours - weekdays</span></label><br>
			<label><input type="radio" name="callTime" class="form-radio-field" value="weekend" required /><span> Anytime during office hours - weekends</span></label>
		</div>
	</div>

	<br>

	<div class="form-field">
		<button type="submit">Submit</button>
	</div>

	<br>
	
</form>
