<div class="body" id="main-content" data-currency-code="{{currency_selector.active_currency_code}}">

	{{#block "page"}} {{/block}}

	<div class="container">
		{{{region name="page_builder_content"}}}
	</div>

    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}

	<dialog id="popup_request_form" class="popup">
		<div class="popup-container">
			<div class="popup-col">
				<div class="popup-content">
					<h2 class="popup-heading">Place your order</h2>
					<div class="icon-w-cta-btn">
						<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 37 37" width="50" height="50">
							<path fill="#888288" fill-rule="nonzero" d="M32.98 30.85c0 1.18-.95 2.13-2.13 2.13H5.91a2.13 2.13 0 0 1-2.12-2.13V5.91c0-1.17.95-2.12 2.12-2.12h24.94c1.18 0 2.13.95 2.13 2.12v24.94ZM31.94 0H4.83A4.83 4.83 0 0 0 0 4.83v27.11a4.83 4.83 0 0 0 4.83 4.83h27.11a4.83 4.83 0 0 0 4.83-4.83V4.83A4.83 4.83 0 0 0 31.94 0"/>
							<path fill="#888288" fill-rule="nonzero" d="m13.59 15.67 1.13-.92c.61-.5.7-1.27.2-2.04L13 9.47a1.46 1.46 0 0 0-2.04-.22l-1.5 1.23c-2.38 2.08-.73 7.38 3.28 12.3 4 4.94 8.86 7.63 11.38 5.72l1.5-1.22c.63-.5.72-1.42.22-2.04l-2.74-2.53c-.7-.64-1.42-.72-2.04-.21l-1.13.91c-1.4 1.14-3.07-.26-4.89-2.5-1.82-2.23-2.84-4.1-1.44-5.24"/>
							<path fill="#888288" fill-rule="nonzero" d="M21.6 17.54a1.4 1.4 0 1 1-1.98-1.98 1.4 1.4 0 0 1 1.98 1.98"/>
							<path fill="#888288" fill-rule="nonzero" d="M18.2 13.2c.24.24.6.32.9.2a3.6 3.6 0 0 1 4.67 4.67.85.85 0 0 0 1.58.62 5.3 5.3 0 0 0-6.87-6.87.85.85 0 0 0-.28 1.38"/>
							<path fill="#888288" fill-rule="nonzero" d="M18.68 9.65c.36.36.87.52 1.29.4 1.75-.56 3.94.01 5.55 1.62 1.61 1.61 2.19 3.8 1.63 5.55-.13.42.03.93.4 1.3.65.66 1.67.55 1.91-.22.8-2.58-.04-5.8-2.4-8.16-2.37-2.37-5.59-3.22-8.17-2.4-.77.23-.88 1.25-.22 1.91Z"/>
						</svg>
						<a href="tel:18007112026" class="btn">1-800-711-2026</a>
					</div>
					<p class="h3"><span class="fw-semibold">Order service available:</span><br> 10 am - 6 pm PST<br>Monday - Saturday</p>
				</div>
				<img id="popup_form_image" src="/content/OD_Interim_Form.webp" width="507" height="485" alt="Contact Us" />
			</div>
			<div class="popup-col">
				<div class="popup-content">
					<h2 class="popup-heading">Shopping After Hours<br> <span class="txt-l fw-normal">And looking for a callback?</span></h2>
					<p class="h3"><span class="fw-semibold">Please fill out form</span></p>

					{{> components/custom/forms/place-order}}

					<div class="popup-footer">
						<p class="txt-s">Thank you for your patience and your interest in Optaderm.<br> <strong>Bigger things for better skin are coming soon.</strong></p>
					</div>
				</div>
			</div>
		</div>
		<button class="close-popup" data-popup_id="#popup_request_form" autofocus>X</button>
	</dialog>
</div>