<div class="body" id="main-content" data-currency-code="{{currency_selector.active_currency_code}}">

	{{#block "page"}} {{/block}}

	<div class="container">
		{{{region name="page_builder_content"}}}
	</div>

    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}

	<dialog id="popup_request_form" class="popup">
		<div class="popup-container">
			<div class="popup-col">
				<div class="popup-content">
					<h2 class="popup-heading">Place your order</h2>
					<p class="h3"><span class="fw-semibold">CALL</span> <a href="tel:18007112026">1-800-711-2026</a></p>
					<p class="h3"><span class="fw-semibold">Order service available:</span><br> 10 am - 6 pm PST<br>Monday - Saturday</p>
				</div>
				<img src="{{cdn 'img/custom/page/interim/interim-page-popup.jpg'}}" width="507" height="485" alt="Contact Us" />
			</div>
			<div class="popup-col">
				<div class="popup-content">
					<h2 class="popup-heading">Shopping After Hours<br> <span class="txt-l fw-normal">And looking for a callback?</span></h2>
					<p class="h3"><span class="fw-semibold">Please fill out form</span></p>

					{{> components/custom/forms/place-order}}

					<div class="popup-footer">
						<p class="txt-s">Thank you for your patience and your interest in Optaderm.<br> <strong>Bigger things for better skin are coming soon.</strong></p>
					</div>
				</div>
			</div>
		</div>
		<button class="close-popup" data-popup_id="#popup_request_form" autofocus>X</button>
	</dialog>
</div>