<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
<header class="header container" role="banner">
    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    <a href="#book" id="book_appointment">BOOK AN APPOINTMENT</a>
</header>
