
.page {
    .top-content-header {
        p {
            margin: 0;
            letter-spacing: 0.2em;
            padding: 2.5em 0;
            font-weight: 500;
        }

        &.light hr {
            border-top: 1px solid #ffffff;
            margin: 0;
        }

        &.dark hr {
            border-top: 1px solid #000000;
            margin: 0;
        }
    }

    .top-content-grid {
        p {
            margin: 0;
            letter-spacing: 0.2em;
            padding: 2.5em 0;
            font-weight: 500;
        }
    }
}

.about-section1 {
    background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/about-bg1.jpg?t=1728639030);
    padding: 27em 0 3.5em;
    color: var(--opt-color-text-light);

    .content {
        width: 40%;

        h1 {
            color: var(--opt-color-text-light);
            margin: 0;
            font-size: 4.2rem;
        }
    }
    
}

.about-section2 {
    background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/about-bg2.jpg?t=1728644176);
    color: var(--opt-color-text-light);

    .content {
        padding: 22em 0 3.5em;
        width: 57%;

        h2 {
            color: var(--opt-color-text-light);
            margin: 0;
            font-size: 4.2rem;
        }
    
        p {
            margin: 0;
        }
    }
}

.about-section3 {

    .container {
        padding-top: 2rem;
        padding-bottom: 4rem;

        h2 {
            margin: 0;
            font-size: 4.6rem;
        }
        
        hr {
            margin: 0.5rem 0 2rem;
            border-top: 1px solid #000000;
        }
    }
}

.about-section4 {
    .w-50 {
        height: 44rem;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #878188;
            opacity: 0;
            -webkit-transition: all ease .3s;
            -o-transition: all ease .3s;
            -moz-transition: all ease .3s;
            transition: all ease .3s;
        }

        .content {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 87%;
            margin: auto;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
            color: var(--opt-color-text-light);

            h2 {
                color: var(--opt-color-text-light);
                text-transform: uppercase;
                letter-spacing: 0.2em;
                margin: 2rem 0;
                -webkit-transition: all ease .3s;
                -o-transition: all ease .3s;
                -moz-transition: all ease .3s;
                transition: all ease .3s;
            }

            p {
                font-size: var(--text-l);
                line-height: 1.5em;
                opacity: 0;
                visibility: hidden;
                max-height: 0;
            }
        }

        &:hover {
            p {
                opacity: 1;
                visibility: visible;
                display: block;
                max-height: 100%;
            }

            &:before {
                opacity: 0.8;
            }
        }
    }
}

.about-section5 {
    padding-bottom: 2em;

    .bg-content {
        background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/about-bg7.jpg?t=1728910323);
        background-repeat: no-repeat;
        background-position: top left;
        -moz-background-size: cover;
             background-size: cover;
        padding: 4.5em 0 2em;
        position: relative;

        h2 {
            font-size: 5.5rem;
        }

        .logo {
            width: 18em;
        }
    }    

    .content-wrap {
        margin-top: 3em;

        h3 {
            font-size: var(--h-2);
            font-weight: 500;
        }

        hr {
            margin: 0 0 2.1em;
            border-color: #444444;
        }

        .main-factors {
            margin-bottom: 2em;

            .pink-bg {
                background-color: #c483a5;
            }

            .gray-bg {
                background-color: #c4c1c5;
            }

            .w-50 {
                padding: 1em;
                color: var(--opt-color-text-light);
                width: 49.5%;

                h4 {
                    font-size: 6rem;
                    font-weight: 700 !important;
                    line-height: 1em;
                    margin: 0;
                    color: var(--opt-color-text-light);
                }

                p {
                    margin: 0;

                    span {
                        font-size: 0.9rem;
                    }
                }

                .content {
                    color: var(--opt-color-text-dark);
                    font-size: var(--text-s);
                }
            }
        }
    }

    .active-ingredients {
        .aesthetic {
            background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/about-bg8.jpg?t=1728913913);
            padding-top: 4em !important;
        }

        .therapies {
            background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/about-bg9.jpg?t=1728913916);
            padding-top: 4em !important;
        }

        .w-50 {
            padding: 1em;

            h5 {
                color: var(--opt-color-text-light);
                font-weight: 500;
                text-transform: capitalize;
                margin: 0;
                font-size: 1.5rem;
            }

            p {
                margin: 0;
            }
        }

        .flex-row {
            margin: 1em 0;
        }

        .top-content-grid {
            .w-50 {
                padding: 0;

                h3 {
                    margin: 0;
                }
            }
        }
    }
}

.about-section6 {
    border-bottom: 1px solid var(--opt-color-text-dark);

    .bg-content {
        padding: 15em 0 0;
        z-index: 1;
        position: relative;

        .flex-row {
            max-width: 89rem;
            margin: 0 auto;
        }

        h3 {
            color: var(--opt-color-text-light);
            font-size: var(--h-2);
            font-weight: 700 !important;
            margin: 0;
            opacity: .8;
        }

        h2 {
            color: var(--opt-color-text-light);
            font-size: 9rem;
            font-weight: 700 !important;
            margin: 0 0 -0.12em 0;
            line-height: 0.75em;
            opacity: .8;

            span {
                font-size: 6rem;
            }
        }
    }

    .in-your-wrap {
        margin-bottom: 4em;

        > .flex-row {
            margin-bottom: 2em;
        }
    }

    .content {
        padding: 2em;

        ul {
            list-style-type: none;
            margin: 0;

            li {
                padding: 0.5em 0 0.5em 2em;
                position: relative;
                color: var(--opt-color-text-dark);

                &:before {
                    content: '';
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    left: 0;
                    top: 13px;
                    background-color: var(--opt-color-secondary);
                    border-radius: 100px;
                }
                
                &:not(:last-child):after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    left: 4px;
                    top: 15px;
                    background-color: var(--opt-color-secondary);
                } 

                a {
                    color: var(--opt-color-text-dark);

                    &:hover {
                        color: var(--opt-color-primary);
                    }
                }
                
            }
        }
    
    }
}

.about-section7 {
    .img-text-overlay {
        background-color: var(--opt-color-secondary);

        .bg {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 14em;
        }

        p {
            color: var(--opt-color-text-light);
            font-size: var(--text-l);
            padding: 1.5em;
            line-height: 1.5em;
            margin: 0;
        }
    }
}

.about-section8 {
    .img-text-overlay {
        background-color: var(--opt-color-text-medium);

        .bg {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 14em;
        }

        p {
            color: var(--opt-color-text-light);
            font-size: var(--text-l);
            padding: 1.5em;
            line-height: 1.5em;
            margin: 0;
        }
    }

    hr {
        margin: 2rem 0;
        border-top: 1px solid #000000;
    }
}

.about-section9 {
    .content {
        padding: 3.5em 4em 2em;

        h2 {
            margin: 0;
            font-size: 4.6rem;
            line-height: 1em;
            font-weight: 500;
        }
        
        hr {
            margin: 2rem 0;
            border-top: 1px solid #000000;
        }
    }
}

.about-section10 { 
    .image-wrap {
        margin-bottom: 0.2em;
    }

    .w-50 {
        background-color: var(--opt-color-secondary);
        margin: 0.2em 0;
        width: 49.75% !important;
        color: var(--opt-color-text-light);

        .content {
            padding: 1em 3em;

            h2, p {
                margin: 0;
            }

            h2 {
                color: var(--opt-color-text-light);
                font-size: var(--h-4);
                font-weight: 700;
                letter-spacing: 0.1em;
                margin-bottom: 0.6em;
                font-family: 'Avenir Next' !important;
            }

            .button-outline {
                color: var(--opt-color-text-light);
                border-bottom-color: var(--opt-color-text-light);
            }
        }

        hr {
            border-color: var(--opt-color-text-light);
            width: 98%;
            margin: 0;
        }
    }

    hr {
        border: 1px solid var(--opt-color-secondary);
    }
}

@media screen and (max-width: 1024px){
    .about-section3 .container h2 {
        font-size: 3rem;
    }
    
    .about-section4 .w-50 {
        height: 30rem;
    }
    
    .about-section5 .bg-content h2 {
        font-size: 3.5rem;
    }
    
    .about-section5 .bg-content {
        background-position: center;
    }
    
    .about-section6 .container {
        padding: 2em 5em;
    }
    
    .about-section6 .container:before {
        left: 5.18em;
        height: 13.6rem;
    }

    .about-section6 .bg-content h2 {
        font-size: 7rem;
        margin-bottom: -.08em;
    }
    
    .about-section7 .img-text-overlay p, .about-section8 .img-text-overlay p {
        padding: 1em;
        font-size: var(--text-m);
    }
    
    .about-section9 .content h2 {
        font-size: 3rem;
    }
    
    .about-section9 .content {
        padding: 3.5em 2em 1em;
        min-height: 24em;
    }
    
    .about-section10 .w-50 .content {
        padding: 1em;
    }
    
    .about-section10 .w-50 .content p {
        min-height: 5em;
    }

    .about-section5 .content-wrap .main-factors .w-50 h4 {
        font-size: 2.5rem;
    }
    
    .about-section5 .content-wrap .main-factors .w-50 p {
        font-size: 0.8rem;
    }
    
    .about-section6 .bg-content {
        padding-top: 10em;
    }

    .about-section6 .container li:before,
    .about-section6 .container li:last-child:after {
        left: -15px;
    }
}

@media screen and (max-width: 767px){
    .about-section1 .content,
    .about-section2 .content,
    .page .flex-row .w-45,
    .page .flex-row .w-50,
    .page .flex-row .w-30,
    .page .flex-row .w-33,
    .about-section10 .w-50 {
        width: 100% !important;
    }

    .page .top-content-grid p {
        padding: 1.5em 0 0.5em;
    }
    
    .page .w-33.text-right {
        text-align: center;
        margin-bottom: 1em;
    }
    
    .about-section1 {
        padding: 18em 0 1em;
    }
    
    .about-section2 .content {
        padding-top: 10em;
    }
    
    .about-section2 .content h2,
    .about-section1 .content h1 {
        font-size: 3rem;
    }

    .about-section3 .container h2,
    .about-section5 .bg-content h2 {
        font-size: 2.5rem;
    }

    .about-section3 .container {
        padding-bottom: 0;
    }

    .about-section5 .bg-content h2 {
        line-height: 1em;
        margin-top: 0.3em;
    }

    .about-section5 .bg-content .logo {
        width: 7em;
    }
    
    .about-section5 .bg-content {
        padding: 2.5em 0 1em;
    }

    .about-section5 .active-ingredients .w-50:last-child {
        padding: 1em 0;
    }

    .about-section5 .active-ingredients .top-content-grid .w-50 h3 {
        text-align: center;
    }
    
    .about-section5 .active-ingredients .flex-row {
        margin-bottom: 0;
    }

    .about-section6 .bg-content h2 {
        font-size: 7rem;
        margin-bottom: -0.2em;
    }
    
    .about-section6 .bg-content h3 {
        font-size: 2rem;
    }
    
    .about-section6 .bg-content .text-center {
        text-align: left;
        padding: 1em;
    }
    
    .about-section6 .container {
        padding: 2em;
    }
    
    .about-section6 .container:before {
        left: 2.2em;
        height: 16.3rem;
    }
    
    .about-section6 .bg-content {
        padding-top: 12em;
    }

    .about-section6 .in-your-wrap {
        margin: 0;
    }

    .about-section9 .content h2 {
        font-size: 2rem;
    }
    
    .about-section9 .content {
        min-height: unset;
    }
}
