.contact-sec1 {
    padding-top: 3em;

    .container {
        hr {
            border-top-color: var(--opt-color-text-dark);
            margin: 2.5em 0;
        }
    }

    .top-section {
        h1 {
            font-size: 5rem;
            font-weight: 500 !important;
            margin: 0 0 0.3em;
            line-height: 0.9em;
        }
    }

    .content {
        padding: 0 2em;

        .info {
            margin-bottom: 2.5em;

            p {
                margin: 0;
                color: var(--opt-color-text-dark);
            }

            a {
                color: var(--opt-color-text-dark);
                text-decoration: underline;

                &:hover {
                    color: var(--opt-color-primary) !important;
                }
            }
        }

        .flex-row {
            justify-content: flex-start;

            a {
                margin-left: 1em;
                text-decoration: none;
            }
        }
    }

    hr {
        border-top-color: var(--opt-color-text-dark);
        margin: 3em 0 2em;
    }
}

@media screen and (max-width: 1024px) {
    .contact-sec1 {
        padding-top: 5em;
    }
}

@media screen and (max-width: 767px) { 
    .contact-sec1 .top-section h1 {
        font-size: 3rem;
    }

    .contact-sec1 .content {
        padding: 0 1em;
    }
}
