.hp-section1 {
    background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/hp-bg1.jpg?t=1728652691);
    padding: 25em 0 5em;;

    h1 {
        font-size: 4.5rem;
    }

    .button-outline {
        margin-top: 2em;
    }

    p {
        font-size: var(--text-m);
    }
}