
.hp-section1 {
    background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/hp-bg1.jpg?t=1728652691);
    padding: 25em 0 5em;;

    h1 {
        font-size: 4.5rem;
    }

    .button-outline {
        margin-top: 2em;
    }

    p {
        font-size: var(--text-m);
    }
}

.hp-section2 {
    padding: 1em;

    .productGrid {
        width: 100%;
    }
}

.category-slider {
    .item {
        text-align: center;
        color: var(--opt-color-text-light);
        font-family: 'Bai Jamjuree';
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.15em;
        height: 13em;
        position: relative;
        display: block;

        &:hover {
            color: var(--opt-color-primary);
        }

        span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: fit-content;
            width: 70%;
        }
    }

    .slick-arrow {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        top: 43%;
        z-index: 1;
        cursor: pointer;
    }

    .arrow-next.slick-arrow {
        right: 1em;
    }
    
    .arrow-prev.slick-arrow {
        left: 1em;
    }
}

.hp-section4 {
    margin-top: 3em;
    position: relative;

    &:after {
        content: '';
        background: rgb(41, 18, 0);
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 18, 0, 1)), to(rgba(41, 18, 0, 0)));
        background: -webkit-linear-gradient(bottom, rgba(41, 18, 0, 1) 0%, rgba(41, 18, 0, 0) 100%);
        background: -moz-linear-gradient(bottom, rgba(41, 18, 0, 1) 0%, rgba(41, 18, 0, 0) 100%);
        background: -o-linear-gradient(bottom, rgba(41, 18, 0, 1) 0%, rgba(41, 18, 0, 0) 100%);
        background: linear-gradient(0deg, rgba(41, 18, 0, 1) 0%, rgba(41, 18, 0, 0) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    .content {
        width: 35%;
        padding: 16em 0 3.5em;
        z-index: 1;
        position: relative;

        h2 {
            line-height: 1em;
        }
    }
}

.hp-section5 {
    margin-top: 3em;
    position: relative;

    .content {
        width: 50%;
        padding: 4em 0 3.5em;

        p {
            font-size: var(--text-l);
            line-height: 1.6em;
        }

        .name {
            font-size: var(--text-m);
            color: var(--opt-color-primary) !important;
            margin-bottom: 5em;
        }
    }
}

.hp-section6 {
    .content {
        margin: 0 1em;
        border: 1px solid #a5a0a5;

        .col-2 {
            border-bottom: 1px solid #a5a0a5;
            background-color: #e6e4e6;

            .w-33 {
                border-right: 1px solid #a5a0a5;
                background-color: #e5cad8;
    
                h2 {
                    margin: 1.5em 0.5em;
                    text-align: center;
                }
            }
    
            .w-67 { 
                p {
                    margin: 0;
                    width: 50%;
                    padding: 2em;
                }
            }
        }

        .col-3 {
            img {
                margin-top: 0.5em;
            }

            .w-33:nth-child(1),
            .w-33:nth-child(2) {
                border-right: 1px solid #a5a0a5;
            }

            .blog-content {
                padding: 1.4em 1.3em 3.5em;

                h3 {
                    margin: 0;
                    font-size: var(--h-4);
                }

                p {
                    margin: 1.5em 0 2em;
                }

                .blog-tag {
                    margin: 0;
                    list-style-type: none;
                    -webkit-box-pack: start;
                    -webkit-justify-content: flex-start;
                       -moz-box-pack: start;
                        -ms-flex-pack: start;
                            justify-content: flex-start;

                    li {
                        margin-right: 0.5em;
                        font-size: var(--text-xs);
                        padding: 0.5em 0 0.3em;
                        text-align: center;
                        min-width: 27%;

                        &:nth-child(1) {
                            background-color: #d1c0de;
                        }

                        &:nth-child(2) {
                            background-color: #c3e8c9
                        }

                        &:nth-child(3) {
                            background-color: #dbd9db;
                        }
                    }
                }
            }
        }
    }

    hr {
        border-color: var(--opt-color-text-dark);
        margin: 3em 0 0.5em;
    }
}

@media screen and (min-width: 1600px) {
    .hp-section1 {
        padding-top: 37.5em;
    }
}

@media screen and (min-width: 2000px) {
    .hp-section1 {
        padding-top: 53.5em;
    }
}

@media screen and (max-width: 1024px) {
    .hp-section2 .featured-content-grid .content img {
        height: 17em;
    }

    .category-slider .item {
        height: 14em;
        font-size: 1.1rem;
    }
    
    .category-slider .slick-arrow {
        width: 2em;
        height: 2em;
    }

    .hp-section5 {
        background-position: 71% 100% !important;
    }
    
    .hp-section5 .content {
        padding: 3em 0 3em;
    }
    
    .hp-section5 .content .name {
        margin-bottom: 3em;
    }

    .hp-section6 .content .col-2 .w-67 p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .hp-section1 {
        background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/mob-bg-img-hp.jpg?t=1732608295);
        padding: 85vw 0 35vw;
        background-position: center !important;
    }
    
    .hp-section1 h1 {
        font-size: 2.5rem;
    }

    .category-slider .item {
        font-size: 0.8rem;
        padding: 5em 2em;
    }
    
    .category-slider .slick-arrow {
        height: 1.2em;
        width: 1.2em;
    }
    
    .hp-section4,
    .hp-section5 {
        margin-top: 2em;
    }

    .hp-section4 .content,
    .hp-section5 .content {
        width: 100%;
    }

    .hp-section5 {
        background-image: url(https://cdn11.bigcommerce.com/s-itukv01ojg/images/stencil/original/image-manager/hp-mob-bg2.jpg?t=1729074788) !important;
        padding-bottom: 6em;
    }

    .hp-section6 {
        padding-top: 1em;
    }

    .hp-section6 .content .col-2 .w-33 h2 {
        margin: 0.5em;
    }
    
    .hp-section6 .content .col-2 .w-67 p {
        text-align: center;
        padding: 1em;
    }

    .hp-section6 .col-3 .slick-arrow {
        position: absolute;
        width: 1.8em;
        height: 1.8em;
        top: 45%;
        background-color: #ffffff;
        z-index: 1;
    }
    
    .hp-section6 .col-3 .arrow-prev.slick-arrow {
        left: -1em;
    }
    
    .hp-section6 .col-3 .arrow-next.slick-arrow {
        right: -1em;
    }
}
