.category-header {
    position: relative;

    &:before {
        content: '';
        background: #00000080;
        background: -webkit-gradient(linear, left bottom, left top, from(#00000080), to(rgba(0,0,0,0)));
        background: -webkit-linear-gradient(bottom, #00000080 0%, rgba(0,0,0,0) 100%);
        background: -moz-linear-gradient(bottom, #00000080 0%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(bottom, #00000080 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(0deg, #00000080 0%, rgba(0,0,0,0) 100%);
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
    }

    img {
        width: 100%;
        height: 51rem;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }

    .container {
        position: absolute;
        bottom: 4em;

        .content {
            text-align: left;
            width: 100%;
            z-index: 1;
            position: relative;
    
            .page-heading {
                margin: 0;
                text-align: left;
                color: #ffffff;
                font-size: 4.5rem;
                text-transform: uppercase;
            }

            p {
                color: #ffffff;
                width: 55%;
            }
        }
    }

}

.category-products-content {
    nav.pagination {
        margin-top: 1em;
    }

    .no-prod-category {
        text-align: center;
    }
}

.category-name {
    position: relative;

    #product-list {
        position: absolute;
        left: 0;
        right: 0;
        top: -170px;
    }
}

.productGrid {
    width: 97.5%;
    margin: auto;
    border: 0;
    position: relative;

    .card {
        margin: 0;
        position: relative;

        .card-figure__link {
            padding-bottom: 4em;
        }

        &:hover .on-hover {
            opacity: 1;
        }

        a {
            &:hover .card-text, &:hover .card-title {
                color: var(--opt-color-text-light) !important;
            }
        }

        .on-hover {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all ease .3s;
            opacity: 0;
            z-index: 2;
        }
        
    }

    .product {
        width: 33.333% !important;
        padding: 0;
        position: relative;
        border: 1px solid #a5a0a5;
        background: rgb(232, 230, 229);
        background: -webkit-linear-gradient(260deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: -moz-linear-gradient(260deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(260deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(190deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);

        &:nth-child(3n + 2) {
            border-right: 0;
            border-left: 0;
        }

        &:last-child {
            border-right: 1px solid #a5a0a5;
        }

        @media screen and (max-width: 767px){
            width: 100% !important;
        }

        .form {
            text-align: center;
        }

        .card-top-headline {
            text-align: center;
            padding: 1em 0;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            border-bottom: 1px solid #a5a0a5;
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        .card-figure {
            height: 31em;
            background-color: rgba(0, 0, 0, 0);
            padding-top: 4em;

            .card-img-container {
                margin: 0;
                max-width: 100%;
                position: relative;
                height: 100%;
                
                img {
                    height: 25em;
                    -o-object-fit: contain;
                    object-fit: contain;
                    -o-object-position: center;
                    object-position: center;
                    width: 100%;
                    margin: 0;
                    height: 100%;
                }
            }
        }

        .card-body {
            position: absolute;
            width: 90%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 1.5em;
            z-index: 3;

            .card-text {
                text-transform: uppercase;
                color: var(--opt-color-text-dark);
            }

            .card-title {
                font-size: var(--text-s);
                font-family: 'Avenir Next' !important;
                color: var(--opt-color-text-dark);
            }
        }
    }
}

.pairs-with {
    .on-hover {
        display: none;
    }

    p {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 500;
    }

    .card-body {
        display: none;
    }

    .card-top-headline {
        display: none;
    }

    .product-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

        .card {
            width: 33.333%;
            margin: 0;
            background: rgb(232, 230, 229);
            background: -webkit-linear-gradient(260deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -moz-linear-gradient(260deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: -o-linear-gradient(260deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(190deg, rgba(232, 230, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
            border: 1px solid #928d93;

            .card-figure {
                background-color: rgba(0, 0, 0, 0);
            }

        }
    }
}

.productView {
    padding-top: 13rem;

    .productView-details {
        padding-bottom: 0;
    }
    
    .productView-product {
        border: none;
        padding: 0;
    
        .card-top-headline {
            color: #aba7ac;
            text-transform: uppercase;
            border: 1px solid #aba7ac;
            padding: 8px 30px 7px;
            display: inline-block;
            text-align: center;
            font-size: var(--text-s);
            letter-spacing: 0.1rem;
            margin-bottom: 1em;
        }
        
        .productView-brand {
            margin-bottom: 0;
    
            a {
                text-transform: uppercase;
            }
        }
    
        .productView-title {
            margin: 0;
            font-size: var(--h-2);
        }
        
        .productView-rating {
            margin: 0.6em 0;
        }
    
        .productView-price {
            font-size: var(--text-l);
            margin-top: 1rem;
        }
    }
    
    .productView-options {
        .form-field {
            margin-bottom: 1rem;
        }
    
        small {
            display: none;
        }
    
        .form-option {
            border-color: #928d93;      
        }
    
        .form-option-variant {
            padding: 0.4em 1em;
        }
    
        .form-label {
            text-transform: uppercase;
        }
    
        .form-increment {
            border: 1px solid #928d93;
            display: inline-block;
    
            button {
                border: none;
                padding: 0.5rem;
            }
    
            .form-input--incrementTotal {
                font-weight: 400;
                font-size: var(--text-s);
            }
        }
    }
    
    .add-to-cart-buttons {
        width: 100%;
        margin: 0;
        padding: 0;

        .button {
            -webkit-border-radius: 0;
               -moz-border-radius: 0;
                    border-radius: 0;
            background-color: var(--opt-color-text);
            color: var(--opt-color-text-light);
            border: none;
            text-transform: uppercase;
            font-size: var(--text-s);

            &:hover {
                background-color: var(--opt-color-primary);
            }
        }
    }

    .recommended-for {
        .headline {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: 500;
        }

        p {
            margin-bottom: 1rem;

            &.rf {
                margin-bottom: 0;
            }

            &.rfd {
                margin-top: 1rem;
            }
        }
    }

    .productView-description {
        padding: 0 0.5rem;

        .productView-title {
            display: none;
        }

        h2, h3, h4 {
            margin: 0 0 0.5em !important;
            padding-bottom: 0.5em;
            font-family: 'Avenir Next' !important;
            font-size: var(--text-m);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: 500;
        }

        .desc-headline {
            padding-bottom: 0;
            font-family: 'Avenir Next' !important;
            font-size: var(--text-m);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: 500;
            margin-bottom: 0;
            padding: 0;
            display: block;
        }

        p {
            margin-bottom: 1em !important;
        }

        hr {
            border: 1px solid #928d93;
        }
    }
}

.productReviews {
    border: none;

    .toggle-title {
        font-size: var(--h-2);
        text-transform: uppercase;
    }
}

.cart-page {
    .page-content {
        float: none;
    }
    
    .cart-totals button {
        background-color: rgba(0,0,0,0);
        color: #757575;
        
        &:hover {
            background-color: rgba(0,0,0,0);
            color: var(--opt-color-primary);
        }
    }
    
    .cart-remove {
        border-color: #000000;
        
        &:hover {
            border-color: var(--opt-color-primary);

            svg {
                fill: #ffffff;
            }
        }
    }
} 

.form-wishlist {
    .dropdown-menu {
        .button {
            color: #666666;
            font-size: var(--text-s);
            
            &:hover {
                color: var(--opt-color-primary);
            }
        }
    }
}

@media screen and (min-width: 801px) {
    .form-wishlist .button {
        width: 16em;
    }

    .mobile-view {
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .productView {
        padding-top: 9rem;
    }
}

@media screen and (max-width: 800px){
    .desktop-view {
        display: none;
    }

    .productView .productView-details .pairs-with {
        margin: 2em 0;
    }
}

@media screen and (max-width: 767px){
    .category-header img {
        height: 25rem;
    }
    
    .category-header .container .content p {
        width: 100%;
    }
    
    .category-header .container .content .page-heading {
        font-size: 2.8rem;
    }
    
    .category-header .container {
        bottom: 0.5em;
    }
    
    .category-featured-content {
        padding: 0 1em;
    }
    
    .category-products-content {
        padding: 0 0.5em;
    }
    
    .productGrid .product:nth-child(3n + 2) {
        border: 1px solid #a5a0a5;
    }
}